:root {
    --background-color: #adfcfc;
    --text-color: #ffdd59;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --border-color: #165395;
    --button-bg-color: #f766ae;
    --button-width: 100px;
    --camba-bg:#02b3ff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

canvas {
    border: 4px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--camba-bg);
    margin-bottom: 15px;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 15px;
}

button {
    background-color: var(--button-bg-color);
    border-radius: 8px;
    border-color: var(--border-color);
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: var(--button-width);
    box-shadow: 0px -3px var(--text-color);
}

button:not(:last-child) {
    margin-right: 10px;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
}

p {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 20px;
}

@media (max-width: 440px) {
    button {
        margin-top: 5px;
    }

    #up,
    #down {
        margin-left: 100%;
        margin-right: 100%;
    }
}